html{
    color: aliceblue;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: rgb(19, 102, 63);
}

h1{
    color: cornflowerblue;
    font-family: 'Rampart One', cursive;
}

dt {
    color: yellow;
    font-weight: bold;
}

li a{
    color: red;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

p strong{
    color: yellow;
    text-align: right;
}

p::first-letter{
    font-size: 1.5em;
}

#mood a img{
    height: 200px;
    width: 300px;
}
