html{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,
    Garamond, sans-serif;
}

ul{
    list-style-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}

ul strong{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted purple;
    font-weight: normal;
    text-decoration: underline;
}

.user_comments{
    background: #FFFFA8 ;
    font-style: italic;
}

ul strong a{
    visibility: hidden;
    width: 120px;
    background-color: royalblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

ul strong:hover a{
    visibility: visible;
}

a{
    color: #A4A400; 
}

h1, h2, h3, h4, h5, h6{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

h2, h3, h4, h5, h6{
    text-align: left;
    font-size: 18pt;

}